html {
  margin: auto;
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title {
	margin: 0;
	font-size: 70px;
	font-weight: 900;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}